body
{
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header
{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 10%;
    padding-bottom: 8%;

}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.headlink
{
    display: flex;
    justify-content: space-around; 
}

.top
{
    display: flex;
    background-color: #1F2937;
    padding: 0 10%;
}

.mid
{
    flex: 1;
}

h1
{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
    margin:5% 0;
}

.img1
{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #6D747D;
    margin-bottom: 12%;
    padding: 3% 0;
}

.signup1
{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding:2% 7%;
    margin-bottom: 25%;
}

.random
{
    display: flex;
    flex-direction: column;
    padding-bottom: 8%;
    
}

.info
{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 5%;
}

.images
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: wrap;
    padding:  0 10%;
    gap: 6%;
    
}

.text1
{
    display: flex;
    flex-direction: column;
    
}

.text2
{
    word-wrap:normal;
    width: 150px;
}

.image
{
    
    display: flex;
    border: #3882F6;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
    width: 150px;
    height:150px;
}

.quote
{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    /* align-items: center; */
    font-weight: light;
    font-size: 36px;
    font-style: italic;
    padding: 4% 17%;
    margin-top: 0;
}

.thor
{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top:0;
}

.signup
{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin: 4% 14%;
    padding: 3% 3%;
}

.call
{
    color: white;

}

.but
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup2
{
    background-color: #3882F6;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    padding: 4px 20px;
    color: white;
}

.footer
{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: white;
    flex-shrink: 0;
}

a
{
    text-decoration: none;
    color: #F9FAF8;
}

ul
{
    display: flex;
    padding: 0 16px;
    gap: 16px;
    
}
li
{
  list-style-type: none;
  
  margin: 0;
  padding:0;
}